body {
	font-family: 'BenchNine', sans-serif;
	font-size: 20px;
}

.navbar {
	background: rgba(52, 53, 55, .95);
}

.navbar-brand {
	font-size: 15px;
	color: red;
	font-family: 'Rock Salt', cursive;
}

svg {
	height: 100%;
	width: 100%;
	/*margin-bottom: 100px;*/
	/*padding-bottom: 120px;*/
}

.jumbo-bg{
	margin: 0;
	min-height: 1000px;
	background-image: url(garrhet-sampson-178990-unsplash.jpg);
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lineDrawing::after {
	
}
/*.bg {
	background: url("garrhet-sampson-178990-unsplash.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.jumbotron h1{
	padding-top: 30%;
	color: black;
	text-align: center;
	text-transform: uppercase;
	text-shadow:	0px 4px 3px rgba(0,0,0,0.4),
					0px 8px 13px rgba(0,0,0,0.1),
					0px 18px 23px rgba(0,0,0,0.1);
}

.jumbotron h2 {
	font-size: 45px;
	color: red;
	text-align: center;
	text-transform: uppercase;
	text-shadow:	0px 4px 3px rgba(0,0,0,0.4),
					0px 8px 13px rgba(0,0,0,0.1),
					0px 18px 23px rgba(0,0,0,0.1);
}

.my-2{
	padding-bottom: 50px;
}

hr{

    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2)
    margin-bottom: 20px;
}

#skills {
	/*background: #333333;*/  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to bottom, #dd1818, #333333); */ /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to bottom, #dd1818, #333333);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: #CFCFCF;
	padding-top: 60px;
	min-height: 100vh;
	margin-bottom: 0;
}

#skills ul {
	margin: 0;
}

button{
	padding: 0 30px 0 30px;
	border: 2px dashed red;
	
}

#portfolio{
	background-color: #535e6d;
	padding-top: 60px;
	min-height: 700px;
}

#skills h2, #portfolio h2, #about h2, #contact h2{
	text-align: center;
	color: white;
	text-shadow:	0px 4px 3px rgba(0,0,0,0.4),
					0px 8px 13px rgba(0,0,0,0.1),
					0px 18px 23px rgba(0,0,0,0.1);
}
}

.port-header, .about-header, .contact-header{
	margin-bottom: 50px;
}

.fa{
	text-align: center;
}
.card-block {
	padding: 15px;
}

#about {
	 background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #333333, #dd1818); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #333333, #dd1818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding-top: 60px;
	min-height: 100vh;
	margin-top: -8px;
}

.about-text{
	color: gray;
	text-align: center;
	list-style-type: none;
	font-size: 30px;
}

ul {
	list-style-type: none;
}

#contact{
	background-color: rgba(52, 53, 55, .95);
	padding-top: 60px;
	min-height: 165px;

}

#contact p, #contact h3 {
	max-width: 300px;
	text-align: left;
	color: lightgray;
}

#contact p {
	font-size: 15px;
	margin: 0;

}
#icons, a{
	color: red;
	float: right;
}

.hard-skills {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 20px;
	grid-template-areas: "htmlSkill cssSkill javascriptSkill";
}
.html-skills {
	grid-area: htmlSkill;
}
.css-skills {
	grid-area: cssSkill;
}